<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <servlet>
<servlet-name>addpage</servlet-name>
<servlet-class>com.serveletdemo1.Test</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addpage</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>square</servlet-name>
<servlet-class>com.serveletdemo1.squareservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>square</servlet-name>
<url-pattern>/sq</url-pattern>
</servlet-mapping>
</web-app>
